*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #E5E5E5;
}
.header-nav{
    background: #322E41;
    
}
.nav{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;

}
.link{
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto';
    padding: 23px 14px;
    transition: 0.5s;

}
.link:hover{
    background: #FFFFFF;
    color: 
    #D47300;
}
.header{
    background: url('images/fon.png');
   
height: 500px;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
}
.header-title{
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;   
    font-family: 'Roboto';
    font-weight: bold;
    margin-bottom: 15px;
}
.header-text{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;   
    font-family: 'Roboto';

}
.header-span{
    font-weight: bold;
}
.header-content{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
flex-grow: 1;
}
.main-cards{
    max-width: 1110px;
width: 100%;
margin: 0 auto;
display: flex;
margin-top: -50px;



}
.main-left{
    width: 540px;
    background: #FFFFFF;
    padding: 15px ;
    border-radius: 6px;
    margin-bottom: 30px;
}
.left-title{
    font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #2C2A2A;
margin-top: 10px;
margin-bottom: 20px;
font-family: 'Roboto';
font-weight: bold;
}
.left-description{
    font-family: Roboto;

font-size: 16px;
line-height: 19px;

color: #9B9B9B;

}
.right-card{
    width: 255px;
    background: #FFFFFF;
border-radius: 6px;
display: flex;
flex-direction: column;
align-items: center;
padding: 15px;
margin-bottom: 30px;
}
.right-title{
    font-size: 22px;
line-height: 16px;
color: #2C2A2A;
margin: 12px 0;
font-family: Roboto;
font-weight: bold;
}
.right-description{
    font-size: 16px;
    line-height: 16px;
    font-family: Roboto;
    
color: #9B9B9B;

}
.main-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
/* ::-webkit-scrollbar{
    width: 10px;
    background: #322E41;
}
::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 100px;
} */
.footer
{background: #322E41;
padding: 37px 0 57px 0;

}
.footer-info{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-form {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.form-name{
    background: #FFFFFF;
   border-radius: 6px;
   margin-bottom: 10px;
   padding: 8px 0 8px 8px;
   font-family: Roboto;
   font-size: 18px;
   line-height: 18px;
   color: #9B9B9B;
   border: none;
   outline: none;
}
.form-message{
    background: #FFFFFF;
    border-radius: 6px;
    padding-top: 8px;
    padding-left: 8px;
    margin-bottom: 11px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    color: #9B9B9B;
    border: none;
    outline: none;
    height: 86px;
    resize: none;
}
.form-btn{
    background: #544294;
    border-radius: 6px;
    border: none; 
    padding: 4px 0;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}
.footer-right{
    display: flex;
    
}
.mr{
    margin-right: 68px;

}
.footer-link{
    display: block;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: 0.5s;

}
.footer-link:hover{
    color: #D57300;
}

/* media-start */

@media(max-width: 1048px) {
    .main-left {
        height: max-content;
    }
    .main-cards {
        flex-direction: column;
        align-items: center;
    }
    
    .right-card {
        margin-right: 7px;
    }
    
    .nav {
        padding-left: 15px;  
    }
}


@media (max-width: 760px) {
    .nav {
       flex-wrap: wrap;  
       justify-content: center;
       padding-top: 15px;
       padding-left: 0;
    }
}

@media (max-width: 650px) {
   .list {
       flex-wrap: wrap;
       justify-content: center;
   }
}
@media (max-width: 540px) {
    .footer-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-right {
        margin-top: 15px;
    }
}
@media (max-width: 500px) {
    .main-left {
        width: 70%;
    }
    .left-img {
        width: 100%;
    }
    
    .main-left {
        width: 100%;
    }
    .header-text {
        text-align: center;
    }
    
    .link {
        padding: 10px 14px;
    }
}
@media (max-width: 280px) {
    .main-left {
        width: 100%;
    }
    .left-img {
        width: 100%;
    }
    
    .header-text {
        width: 50%;
    }
    
    .footer-form {
        padding: 0 10px;
    }
}




/* media-end */